body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
}

.app {
    min-height: 100vh;
    width: 300px;
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
    border: 0.02px solid grey;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(50, 10, 10, 0.1);
}

.dark {
    background-color: #1e1e1e;
    text-align: center;
}

/* .card {
    background: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} */

.dark .card {
    background-color: #2c2c2c;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.card img {
    margin-top: 20px;
    border-radius: 50%;
    margin-bottom: 8px;
    max-width: 80%;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}